.btn-default {
}

.ant-form {
  &-item {
    label {
      color: var(--text-color-light);
      font-size: 0.875rem;
    }
    &-label {
      .ant-form & {
        padding: 0 0 5px;
      }
    }

    &-explain-error {
      font-size: 0.75rem;
      margin-top: 0.3125rem;
    }
  }
}

// ================================================================
// =                            Input                             =
// ================================================================
.ant-input {
  background-color: var(--form-input-bg) !important;
  border: 1px solid var(--color-light-gray);
  padding: 0 16px;
  height: $form-element-height;
  color: #fff;
  border-radius: var(--border-radius);
  font-weight: 400;
  box-shadow: none;

  .ant-picker-input {
    height: 100%;
  }

  &::placeholder {
    color: #6e7580;
  }
}
textarea.ant-input {
  padding-top: 0.7rem !important;
}

.ant-input:focus,
.ant-input-focused {
  border-color: var(--primary);
  box-shadow: none !important;
}
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:focus {
  border-color: var(--color-danger);
}

// ================================================================
// =                           Checkbox                           =
// ================================================================
.ant-checkbox {
  + span {
    padding-top: 8px;
  }
  &-inner {
    border: 1px solid var(--color-light-gray);
    background: var(--form-input-bg);
    width: 32px;
    height: 32px;
    border-radius: 8px;
    &:after {
      left: 27.5%;
      width: 7.714286px;
      height: 14.142857px;
      border: 2px solid #fff;
    }
  }
  &-checked {
    &:after {
      border: 0 !important;
    }
    .ant-checkbox-inner {
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }
}

.ant-form-item-optional {
  display: none !important;
}
.ant-form-item label {
  align-items: center;
}

// ================================================================
// =                            Select                            =
// ================================================================

.ant-select:hover:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: 0 0 0 1px rgba($primary, 0.4);
}
.ant-select-open.ant-select-focused {
  .ant-select-selector {
    box-shadow: 0 0 0 1px rgba($primary, 1) !important;
  }
  .ant-select-arrow {
    transform: rotate(180deg);
  }
}
.ant-select-arrow {
  color: var(--primary);
  transition: transform 0.2s ease-in;
}
.ant-select-dropdown {
  background: var(--form-input-bg);
  box-shadow: inset 5px 5px 10px 5px #121212;
  border-radius: $border-radius;
  padding-top: 1rem;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 0;
  background-color: var(--form-input-bg) !important;
  height: $form-element-height;
  border-radius: var(--border-radius);
}
.ant-select-single.ant-select-open .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled),
.ant-select-item-option:hover {
  background: var(--bg-color-light);
  box-shadow: 4px 5px 4px #181818;
}
.ant-select-item-option,
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  border-radius: 5px;
  padding: 0.5rem;
  margin: 2px 0.5rem;
}

// ================================================================
// =                           Button                             =
// ================================================================

.ant-btn {
  height: $form-element-height;
  border-radius: var(--border-radius);
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  &.ant-btn-sm {
    height: unset;
  }
  //   transition: background 0.3s ease;

  &-medium {
    height: 40px;
  }
  &-default {
    &:disabled {
      &,
      &:hover {
        background-color: transparent;
      }
    }
  }

  &-loading {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    &-icon {
      margin-left: 0.5rem;
      .anticon-loading {
        svg {
          overflow: hidden;
          display: block;
          float: left;
          width: 0.6em;
          height: 0.6em;
          position: relative;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          -khtml-border-radius: 50%;
          border: 2px solid currentColor;
          border-top: 2px solid transparent;
          z-index: 9;
          padding: 50%;
          path {
            display: none;
          }
        }
      }
    }
  }
  &-dangerous {
    color: var(--color-danger);
    border-color: var(--color-danger);
    border-width: 2px;
  }
  &-primary {
    background: var(--btn-primary-bg);
    border: 0;

    &:hover,
    &:focus {
      background-color: var(--primary-dark);
    }
    &:disabled {
      &,
      &:hover {
        background: var(--btn-disabled);
        color: var(--text-color-dark);
      }
    }
    &:active {
      //   background: #0085ff !important;
      background: linear-gradient(
        180deg,
        #0085ff -4.5%,
        #0085ff 18.08%,
        #0085ff 53.94%,
        #0085ff 100.1%
      );
    }
    &.ant-btn-loading {
      background: linear-gradient(
        180deg,
        #29c8fa -4.5%,
        #29c8fa 18.08%,
        #29c8fa 53.94%,
        #29c8fa 100.1%
      );
      opacity: 1;
      &::before {
        display: none;
      }
    }
  }
  &-bordered {
    background-color: transparent;
    border: 1px solid var(--btn-primary-bg);
    color: var(--primary);
  }
}

.react-tel-input {
  width: 100%;
  .flag-dropdown {
    background-color: transparent !important;
    border: transparent !important;
  }
  .form-control {
    height: 53px;
    border: 1px solid var(--color-light-gray);
    width: 100%;
    border-radius: var(--border-radius);
  }
  .selected-flag {
    background-color: transparent !important;
  }
  .country {
    padding-left: 1.2rem !important;
  }
  .country-list {
    background: var(--bg-color-light) !important;
    .search {
      background: var(--bg-color-light) !important;
      .search-box {
        background-color: transparent !important;
        border-color: var(--color-light-gray) !important;
        width: 93%;
        height: 2.5rem;
        border-radius: var(--border-radius);
      }
    }
  }
  .country-list .country {
    &:hover,
    &.highlight {
      background: var(--bg-color-dark) !important;
    }
  }
}

.ant-file-upload-default {
  .ant-upload-list-item-progress {
    left: 0;
  }
  &.large {
    .ant-upload-select {
      text-align: center;
      justify-content: center;
      display: flex;
      border: 0;
      padding: 0;
      border-radius: 10px;
      border: 2px dashed rgba(255, 255, 255, 0.2);

      .ant-upload {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        > div {
          padding: 2rem 0;
        }
      }
    }
  }
  .ant-upload-select {
    border: 1px solid rgba(#fff, 0.2);
    padding: 8px 25px 8px 10px;
    position: relative;
    min-height: 20px;
    margin-top: 0.4rem;
    border-radius: 8px;
    width: 100%;
  }
  .ant-upload-text-icon .anticon {
    color: #fff;
  }
  .ant-upload-list {
    color: #fff;
    margin-bottom: 0.5rem;
  }
  .ant-upload-list-item:hover .ant-upload-list-item-info {
    background-color: transparent;
  }
  .ant-upload-list-item-card-actions:hover .anticon,
  .ant-upload-list-item-card-actions .anticon {
    color: #fff;
  }
  .ant-upload-list-item-card-actions-btn {
    opacity: 1;
    background-image: url("/images/icon/cancel.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    svg {
      opacity: 0;
    }
  }
  .ant-upload-list {
    .ant-upload-list-item {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      padding: 30px 15px;
      background: rgba(255, 255, 255, 0.05);
    }
  }
}
