:root {
  --primary: #295ede;
  --primary-dark: #1351e2;
  --font-title: "Poppins", sans-serif;
  --font-body: "Poppins", sans-serif;
  --text-color: #f7f7f7;
  --text-color-light: #8d8d8d;
  --text-color-dark: #808080;
  --color-danger: #b43030;
  --separator-line: rgba(141, 141, 141, 0.2);
  --form-input-bg: #161616;
  --bg-color-dark: #0c1021;
  --bg-color-light: #151926;
  --border-radius: 10px;
  --btn-disabled: #4e4e4e;
  --btn-primary-bg: var(--primary);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  font-family: var(--font-body);
  letter-spacing: 0.02em;
  color: var(--text-color);
  background: var(--bg-color-dark);
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--primary);
  }
}

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
}

/* make images responsive */
img,
picture {
  max-width: 100%;
  display: block;
}

/* utility classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.d-block {
  display: block;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 80rem;
}

.height-min-100 {
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.app-icon {
  color: var(--text-color);
  &:hover,
  &:visited {
    color: var(--primary);
  }
}
.page-login {
  .login-state {
    display: none;
    .page-loaded & {
      display: block;
    }
  }
  .section-loader {
    .page-loaded & {
      display: none;
    }
  }
}

.cursor {
  &-p {
    cursor: pointer;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.separator-line {
  display: block;
  height: 1px;
  background-color: var(--separator-line);
}

.card-shadow {
  &-default {
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  }
  &-2 {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
}

.image-cover {
  aspect-ratio: unset;
  object-fit: cover;
}

.card {
  &-default {
    padding: 1.5rem;
    background-color: var(--bg-color-light);
    border-radius: var(--border-radius);
  }
}

// Section container

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}
